*{
  padding: 0;
  margin:0;
}

:root {
  --blue: #0079ff;
  --darkBlue: #0063bf;
  --white: #ffffff;
  --lightGrey: #f2f2f2;
  --lightMidGrey: #637288;
  --green: #80e380;
}

.App {
  min-height: 100vh;
  background-size: cover;
  justify-content: space-between;
  background-image: url("./images/weatherbg.jpg");
}


.weather-control{
  display: flex;
  flex-flow: column;
  height: 130px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.fade-elem{
  opacity: 0.2;
  pointer-events: none;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  flex-wrap: wrap;
}

.weather-card {
  flex-basis: 20%;
  border: 1px solid #ccc;
  background: var(--white);
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  border-radius: 10px;
  padding: 10px;
}

.weather-card__day {
  color: var(--white);
  border-radius: 30px;
  background: var(--lightMidGrey);
  min-height: 40px;
  margin: 0 auto;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card__txt{
  color:var(--lightMidGrey)
}

.bg-font{
  font-size: 40px;
}
.md-font{
  font-size: 20px;
}
.mg-bt-20{
  margin-bottom: 20px;
}
.mg-tp-20{
  margin-top: 20px;
}

.arrow{
cursor: pointer;
}



.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--white);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}


.loader-conatiner{
  display: flex;
  justify-content: center;
  min-width: 100%;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .weather-container {
    justify-content: center;
  }
  
  .weather-card {
    flex-basis: 90%;
    margin: 0px 20px;

 
  }
}